[Unit]
Description=Send MAP messages through YoGoKo middleware
After=eml-netns@%i.service eml-mw-server@%i.service
Requires=eml-netns@%i.service eml-mw-server@%i.service

[Service]
StandardOutput=null
ExecStart=/sbin/ip netns exec %i /usr/bin/send_mapjson %i
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

