[Unit]
Description=GeoNetworking BTP tunnel
After=network.target remote-fs.target nss-lookup.target eml-netns@%i.service eml-itsnet@%i.service
Requires=eml-netns@%i.service eml-itsnet@%i.service

[Service]
Type=simple
ExecStart=/sbin/ip netns exec %i /usr/bin/mwtun -i tun0 -s fe80::1234 -d ff02::1234 -c ff02::4567 -S /var/run/itseml/%i/GN_SAP.sock

[Install]
WantedBy=multi-user.target
