[Unit]
Description=GeoNetworking daemon
After=network.target remote-fs.target nss-lookup.target eml-netns@%i.service
Requires=eml-netns@%i.service

[Service]
Type=simple
ExecStartPre=/usr/bin/gen_itsnet_conf %i
ExecStart=/sbin/ip netns exec %i /usr/bin/itsnet -c /var/run/itseml/%i/itsnet.conf -d

[Install]
WantedBy=multi-user.target
